.header{
    background: #F55A5A; 
    height: 55px;  
    color: white; 
    display:flex; 
    justify-content: center; 
    align-items: center;
} 

.header-title{ 
    font-weight: 500; 
    font-size: 18px;
} 

.header-img{
    height:24px; 
    margin-right: 10px;
}