.slider{
    max-width: 1400px; 
    height:780px;
    width: 100%; 
    margin: -60px auto; 
    padding: 16px 4px; 
    position: relative; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 400px;
} 

.slider__image {
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  position: relative;  
  
} 


.slider__left_arrow,
.slider__right_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 2px;
  color: white;
  cursor: pointer; 
  opacity: 0;
}

.slider__left_arrow {
  left: 0;
}

.slider__right_arrow {
  right: 0; 
} 

.slider__left_arrow:hover,
.slider__right_arrow:hover {
    opacity: 1; 
    transition: opacity 0.8s ease-in-out; 
} 

.slider__title_container{ 
    position:absolute; 
    bottom:0px; 
    left:50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.5);  
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
    width:96%;
    border-radius:16px;
    text-align: center; 
    color: white;  
    padding: 8px 12px;
}

.slider__dots{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 2px 0; 
    margin-top: 10px; 
    cursor: pointer;
} 

.slider__dots-active{
    color:gray;  
    transition: color 0.2s ease-in-out;
}